<div data-role="page" id="itemView" >
	<div data-role="header" class="item-view-header">
		<div id="itemViewBack" class="image"></div>
		<h1 id="itemViewTitle"></h1>
	</div>
    <div data-role="content" id="itemViewWrapper" class="app-wrapper">
    	<div id="itemViewScroller" class="item-view-scroller">
    		<div class="item-container">
    		<div class="left-item">
				<div id ="orderName" class="item-name">"
				</div>
				<div id = "date_status" class="item-info">
				</div>
			</div>
			<div id = "orderAmount" class="right-item ">
			</div>
			</div>
			<div>
				<textarea name = "reason" id="reason" placeholder="Enter Comment" class="item-reason"></textarea>
			</div>
			<div>
				<span id="btnApprove" class="btnApprove">
					
				</span>
				<span id="btnReject" class="btnReject">
					
				</span>
			</div>
			<div id="processStatus" class="item-info">
			</div>
		</div>
		<div class="offlineOnlineMask">
			<div class="offline">
				<div id="offLineItem" class="offline-line1"></div>
				<div id="onLineItem" class="online-line1"></div>
			</div>
		</div>
    </div> 
</div> 