<div data-role="page" id="listView" >
	<div data-role="header" class = "list-view-header">
		<h1 id="listTitle"></h1>
	</div>
	<div data-role="content" id="listViewWrapper" class="app-wrapper list-view-body">
		<div id="listViewScroller" class="app-scroller">
		</div>
		<div id="ordersMask" class="orders-list-view-mask">
		</div>
		<div class="offlineOnlineMask">
			<div class="offline">
				<div id="offLine" class="offline-line1"></div>
				<div id="onLine" class="online-line1"></div>
			</div>
		</div>
	</div>
</div>